.profileSection{
    height: inherit;
   background: linear-gradient(to right,#d3e9fa, #d4eff5, #c6ddf5);
    width: 35em;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px aliceblue;
    
}
.profileSection div{
    margin: 8px 0px;
}
#profile{
    margin-top: 5%;
    display: flex;
    justify-content: center;
     color: black;
    text-shadow: 1.5px 1.5px 2px rgb(235, 235, 235);
}
.changepassword{
    cursor: pointer;

}
.details{
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    justify-content: space-evenly;
}
.details div{
   margin: 5px;
}
.profileSection h6{
    display:inline;
}

.edit{
    font-size: 0.8em;
    float: right;
    cursor: pointer;
}
h2,h1{
    text-align: center;
}

@media screen and (max-width: 587px) {
    .profileSection{
        width: 95vw;
    }
}
@media screen and (max-width: 500px) {
    .details{
    
    flex-direction: column;
    
}
}